/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

/* --- UF-THEMED CHANGES WITH BACKGROUND IMAGE --- */

body {
	margin: 0;
	padding: 0;
	/* CHANGED background to incorporate the image */
	background: #f4f7f6 url('uf-background.jpg') no-repeat center center fixed;
	background-size: cover; /* Ensures the image covers the entire viewport */

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	
	/* --- ADDED TO CREATE A "STICKY FOOTER" --- */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #0021A5;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #D95F0E; /* Using the UI-friendlier orange */
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	overflow: hidden;
	background: #FFFFFF; /* Keep white content wrapper */
    /* Add some margin to the top and bottom to reveal more of the background image */
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}

/* Logo */

#logo {
	overflow: hidden;
	height: auto; /* LETS THE BOX GROW WITH VARYING CONTENT */
	padding-bottom: 20px; /* ADDS SOME BREATHING ROOM AT THE BOTTOM */
}

#logo h1, #logo p {
	text-align: center;
}

#logo h1 {
	padding: 5px 0px 20px 0px;
	letter-spacing: -1px; /* RELAXES THE AGGRESSIVE NEGATIVE SPACING */
	text-transform: capitalize;
	font-size: 44px; /* A MUCH MORE REASONABLE SIZE FOR LONGER TITLES */
}

#logo p {
	margin-top: 10px; /* GIVES IT SPACE FROM THE H1 INSTEAD OF PULLING IT UP */
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	font-weight: 300;
	color: #555555;
}

#logo p a {
	color: #D95F0E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #0021A5;
}


/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 52px;
	margin-bottom: 2em;
	background: #0021A5;
}

#menu {
	overflow: hidden;
	height: 52px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
	background: #D95F0E;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	overflow: hidden;
	padding: 20px 20px 40px 20px;
}

/* Content */

#content {
	float: left;
	width: 752px;
	padding: 0px 0px 0px 0px;
}


/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	
	/* --- ADDED TO CREATE A "STICKY FOOTER" --- */
	margin-top: auto;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	text-align: center;
	color: #777777;
}

#footer a {
	text-decoration: underline;
	color: #D95F0E;
}

#footer a:hover {
	text-decoration: none;
	color: #0021A5;
}

.box1 {
	overflow: hidden;
	height: 300px;
	background: url(images/img04.jpg) no-repeat center bottom;
}


/* Three Column Content */

#three-column {
	overflow: hidden;
	padding: 10px 0px 50px 0px;
}

#three-column .tbox1 {
	float: left;
	width: 384px;
	margin-right: 20px;
}

#three-column .tbox2 {
	float: left;
	width: 384px;
}

#three-column .tbox3 {
	float: right;
	width: 384px;
}

.box-style {
	background: #FFFFFF;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	border-radius: 8px;
}

.box-style h2 {
	padding: 10px 0px;
	letter-spacing: -1px;
	font-size: 22px;
	color: #0021A5;
}

.box-style .content {
	overflow: hidden;
	width: 324px;
	padding: 30px;
}

.button
{
	display: inline-block;
	margin: 1em 0em;
	background: #D95F0E;
	padding: 1em 2em;
	color: #FFFFFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* ADDED a hover effect for the button */
.button:hover
{
    background: #0021A5;
    color: #FFFFFF;
    text-decoration: none;

}


